# Ambiente virtual
venv/
venv_py311/
*.pyc
__pycache__/

# Arquivos de configuração
.env

# Logs
*.log

# Arquivos de banco de dados
*.sqlite

# Arquivos do Alembic
alembic/
/alembic.ini

# Arquivos de migração do Alembic
migrations/__pycache__/
migrations/*.pyc
migrations/versions/__pycache__/
migrations/versions/*.pyc

# Arquivos específicos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.vscode/
.idea/
*.swp

# Arquivos de cache do Python
*.pyc
*.pyo
*.pyd

# Diretórios de build
build/
dist/
*.egg-info/

# Arquivos temporários
*.tmp
*.bak
*.swp
*~.nib

# Outros
*.so